
   body{
    
font-family: 'Robot', serif;
    color:#424242;
  
   }
 
   .logo{
    font-weight: bold;
    margin-left: 30px;
    border: solid;
    width: 60px;
    height: 60px; 
    color: #ffffff;
    border-radius: 50px;
    text-align: center;
   }
  .parallax-container {
    height: 100vh;
    opacity: 1;
  }
  .proyectos {
      font-size: 18px;
  }
  .padd{
    padding-top: 50px;   
  }
 
/* .navbar{
   background:  rgba(30, 30, 30, 0);
   border-color: rgba(0,0,0, 0);
} */
  .pitch {
      margin-top: 40px;
      margin-bottom: 2px;
  }

 ul li {
    display: inline;
    
  }
.contacto{
    display: block;
}

.init{
    padding: 0px;
}
 .cont {
     margin-top: 0px;
 }
 .form {
    width: 10%;
    height: 10%;
    margin-right: 4px;
    
  }

p , span, a {
    font-size: 15px;
    font-family: 'Robot', sans-serif;
}
  
.title {
   
    
    font-family: 'Great Vibes', sans-serif;
        color:#424242;
      
}
.navbar{
  background:#FF796D;
  }
  
.footerr{
    background:#FF796D;
    margin: 0px;
}

.copyright{
margin: 0px;
padding: 10px;
}
.btn{
    border-radius: 80px 60px;

}
.btnR{
    border-radius: 60px 80px;
    
}

.btn-floating{
    width: 50px;
    height:50px;
    line-height: 50px;
    padding: 0;
}

@media only screen and (max-width: 600px) {

/* .title {
    border-bottom-style: ridge; 
} */
.logo{
    margin-left: 0px;
    
   }
   .hability{
   font-size: 24px; 
}
.form{
       height: 60px;
       width: 60px;
   }
.btn-floating{
    width: 50px;
    height:50px;
    line-height: 50px;
    padding: 0;
}
.pitch {
    margin-top: 0px;
    margin-bottom: 0px;
}
.sectionP {
    margin-top: 0px;
    margin-bottom: 0px;
}
.lista{
   text-align: left;
}
.margResp{
    margin-left: 2px;
   width: 325px;

}

}
 
/*{
Border: #000 2px solid;
}   
text-align: center;
    color: #ffffff;
    background: url("../img/background-index2.png") no-repeat center center fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    width: 100%;
    height: auto;
}  
*/