
   body{
    font-family: 'Unlock', cursive;
      
  }

  
 /* .init, .footer, .container, .habilidades, .sobreMi  {
    margin-top: 60px;
 } */
 .img {
    height: 700px;
 }
 .parallax-container {
   
    height: 350px;
  
  }
  .pitch {
      margin-top: 3px;
      margin-bottom: 3px;
  }
 .container{
 
 border-radius: 10px;
 }
 .form {
    width: 10%;
    height: 10%;
    margin-right: 3.5px;
    float: left;
  }
  
  @media only screen and (max-width: 600px) {
h2 {
    font-size: 2rem;
}
h3 , h4 {
    font-size: 1.5rem;  
}
.parallax-container {
    height: 300px;
  }

p {
font-size: 12px;
}

}
